{% extends 'base.html' %}

{% block head %}

    <title>Home Page</title>

{% endblock %}

{% block body %}

    <div class="container">
        <br>
        <div class="jumbotron">
            <div class="col-sm-8 mx-auto">
              <h1>Blog Post Website</h1>
              <p>Welcome to my Blog Post website. This website is made using the Flask Framework which is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries which means it's easy and lightweight to use.</p>
              <p>Visit my <a href="https://github.com/victormusembi11">github profile</a> to see more of my code projects.</p>
              <p>
                <a class="btn btn-primary" href="/posts" role="button">View Blog Posts...</a>
              </p>
            </div>
          </div>
    </div>


{% endblock %}