{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
    <title>Update</title>
{% endblock %}

{% block body %}

<h1>Create New Post</h1>

<form action="/posts/new_post" method="POST" class="posts-form">
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="title" class="form-control" id="title" placeholder="Enter Title">
    </div>
    <div class="form-group">
      <label>Post</label>
      <textarea name="content" class="form-control" id="content" cols="30" rows="2" placeholder="Post..."></textarea>
    </div>
    <div class="form-group">
        <label>Author</label>
        <input type="text" name="author" class="form-control" id="author" placeholder="Enter Author Name">
      </div>
      <input type="submit" value="post" class="btn btn-success">
  </form>
<hr style="margin-left: 25px;">

{% endblock %}