{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
    <title>Posts</title>
{% endblock %}

{% block body %}

<div class="container">
    <h1 style="margin-left: 25px;">Blog Posts</h1>
    
    <hr>
    <p style="margin-left: 25px;">To create a new post <button type="button" class="btn btn-success"><a href="/posts/new_post" style="text-decoration: none; color: white">click here!</a></button></p>
    <hr>

    <ul>
    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <p style="white-space: pre-wrap;">{{ post.content }}</p>
        <p><small><b>By: </b>{{ post.author }}</small></p>
        <p><small><b>Date posted: </b>{{ post.date_posted }}</small></p>
    
        <a href="posts/update/{{post.id}}"><button type="button" class="btn btn-primary">Update</button></a>
        <a href="posts/delete/{{post.id}}"><button type="button" class="btn btn-danger">Delete</button></a>
    
        <hr>
    {% endfor %}
    </ul>
</div>

{% endblock %}