{% extends 'base.html' %}

{% block head %}
    <title>Posts</title>
{% endblock %}

{% block body %}

<hr>
<form action="/posts" method="POST">
    Title: <input type="text" name="title" id="title">
    <br>
    Post: <input type="text" name="content" id="content">
    <br>
    Author: <input type="text" name="author" id="author">
    <br>
    <input type="submit" value="post">
</form>
<hr>

<ul>
{% for post in posts %}
    <h3>{{ post.title }}</h3>
    <p>{{ post.content }}</p>
    <p>{{ post.author }}</p>
    <p>{{ post.date_posted }}</p>
{% endfor %}
</ul>

{% endblock %}